:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}
.BBSuserGreeting {
  font-weight: bold;
  color: var(--whiteColor);
  /* padding: 0px 0px; Increase vertical padding */
  border-radius: 5px;
}

.BBSuserGreeting span {
  color: var(--PrimaryColor);
  display: inline-block;
  background-color: var(--PrimaryColor);
  padding: 9px 12px; /* Adjust padding to match other buttons */
  font-size: 12px; /* Adjust font size if needed */
  border-radius: 5px; /* Optional: Add border radius to match buttons */
  cursor: none;
}
.nbtn{
 /* 호버 시 마우스 커서 변하지 않도록 설정 */
 cursor: none;
 
}

@media screen and (max-width: 768px) {
  .BBSuserGreeting {
    font-size: 0.8rem; /* Smaller font size for mobile */
    padding: 5px; /* Adjust padding for mobile */
    margin-left: -1px; /* Adjust margin for mobile */
  }
}

@media screen and (min-width: 769px) {
  .BBSuserGreeting {
    font-size: 1rem; /* Default font size for larger screens */
    padding: 10px; /* Default padding for larger screens */
    margin-left: -2px; /* Default margin for larger screens */
  }
}

.navBarSection .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  
}
.navBarSection .header .logoDiv .logo {
  color: var(--PrimaryColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.navBarSection .header .logoDiv .logo .icon {
  color: var(--PrimaryColor);
  font-size: 25px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .navBarSection .header .navBar {
    background: var(--greyBg);
    position: absolute;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .navBarSection .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* margin: auto; */
  }
  .navBarSection .header .navBar .navLists .navItem {
    padding: 1rem 0;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
    
  }
  .navBarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns {
    flex-direction: column;
    
  }
  .navBarSection .header .navBar .navLists .headerBtns .btn {
    margin-top: 1rem;
    
  }
  .navBarSection .header .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .btn a:hover {
    color: var(--whiteColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn a {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navBarSection .header .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--whiteColor);
  }
  .navBarSection .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navBarSection .header .activeNavbar {
    left: 0;
  }
}
.navBarSection .header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.navBarSection .header .toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}
.navBarSection .activeHeader {
  background: var(--greyText);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}

@media screen and (min-width: 769px) {
  .navBarSection .toggleNavbar,
  .navBarSection .closeNavbar {
    display: none;
  }
  .navBarSection .header {
    padding: 1.5rem 2rem;
  }
  .navBarSection .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--PrimaryColor);
    text-decoration: none;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  .navBarSection .header .navBar .navLists .btn a {
    font-weight: bold;
    font-weight: 500;
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .loginBtn:hover {
    background: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .loginBtn:hover a {
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 8.5rem !important;
  }
}
