/* PlanMain.css */
.box{
    background-color: #efefef;
    padding: 20px;
    display: flex;
    gap: 30px;
    height: 1500px;
}
.container {
    max-width: 1200px;
    border: 1px solid var(--color-primary);
    margin: 0 auto;
  }
  
.boxsidebar
.boxcontent{
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
}
.boxcontent{
    flex-grow: 1;
}
.boxsidebar{
    width: 140px;
    height: 100%;
    flex-direction: column; /* 세로 방향으로 정렬 */
}