.sidebarcol {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f8f9fa; /* 배경색을 색상에 맞게 변경하세요 */
    z-index: 1000; /* 다른 콘텐츠 위에 올라가도록 설정 */
    padding: 50px;
    height: 100%;
  }