.DEOK_MP_CL_insertShop {
    border: 1px solid #ddd;
    border-radius: var(--card-border-radius);
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 16px;
    padding: 30px 40px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.DEOK_MP_CL_insertShop:hover {
    box-shadow: none;
}

.DEOK_MP_CL_insertShop_left-section {
    grid-column: 1;
}

.DEOK_MP_CL_insertShop_right-section {
    grid-column: 2;
}

.DEOK_MP_CL_insertShop_input-box {
    margin: 10px;
    
}

.DEOK_MP_CL_insertShop_input-box span {
    display: block;
    margin-bottom: 4%;
    font-weight: 700;
}

.DEOK_MP_CL_insertShop_input-box input {
    width: 90%;
    background: none;
    border-bottom: 1px solid rgb(128, 128, 128);
    color: var(--textColor);
}

.DEOK_MP_CL_insertShop_input-box textarea {
    width: 90%;
    height: 100px;
}
.DEOK_MP_CL_insertShop_addPic {
    display: block;
    font-size: 30px;
    cursor: pointer;
}

.DEOK_MP_CL_insertShop_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.DEOK_MP_CL_insertShop_images img {
    max-width: 100px;
    max-height: 100px;
}

.DEOK_MP_CL_insertShop_button-box {
    
}

.DEOK_MP_CL_insertShop button {
    position: relative;
    width: 150px;
    height: 50px;
    bottom: 20%;
    left: 80%;
    margin-top: 2rem;
}