.DEOK_MP_CL_updateInfo_form-box {
    border: 1px solid #ddd;
    border-radius: var(--card-border-radius);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding: 50px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.DEOK_MP_CL_updateInfo_form-box:hover {
    box-shadow: none;
}

.DEOK_MP_CL_updateInfo_input-box {
    position: relative;
    width: 50%;
    height: 50px;
    margin: 30px 0;
}

.DEOK_MP_CL_updateInfo_input-box span {
    font-weight: bolder;
}

.DEOK_MP_CL_updateInfo_input-box input {
    outline: none;
    padding: 10px 0px;
    width: 100%;
    background: none;
    border-bottom: 1px solid rgb(128, 128, 128);
    margin-bottom: 8%;
    color: var(--color-dark);
    text-decoration: none;
}

.DEOK_MP_CL_updateInfo_input-box .disabled {
    color: darkgray;
}

.DEOK_MP_CL_updateInfo_form-box .btn-update {
    display: flex;
    justify-content: space-around;
}

.DEOK_MP_CL_updateInfo_form-box .btn-update button {
    padding: 10px 20px;
    border-radius: var(--border-radius-1);
    color: rgb(231, 201, 29);
    background-color: var(--color-background);
    border: 1px solid rgb(231, 201, 29);
    cursor: pointer;
}