* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --mainColor:  #C1908B;
}
.rentcarListBody {
    margin: 0 auto; /* 가운데 정렬을 위한 좌우 여백 자동 설정 */
    max-width: 1600px; /* 요소의 최대 너비 설정 */
}

.rentList-container{
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.rentList-left-col{
    flex-basis:80%;
}
.rentList-right-col{
    flex-basis:15%;
}
.rentList-left-col h1{
   color: #333;
   font-weight: 600;
   margin-bottom: 30px;
}
.rentList-check{
    display: inline-block;
}
.rentList-house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
.rentList-house-img{
    flex-basis: 30%;
}
.rentList-house-info{
    flex-basis: 68%;
    color:#555;
    margin-bottom: -85px;
}
.rentList-house-img img{
    width: 300px;
    height:250px;
    border-radius: 12px;
}    
.rentList-house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.rentList-house-info p{
    margin-top:5px;
    margin-bottom:10px;
    line-height: 150%;
}

.rentList-house-info2 {

    display: inline-block;
    
}

.rentList-star-icon {
    color: #ff5361;
    font-size:18px;

}
.rentList-heart-icon {
    color: #ff5361;
    font-size:18px;
}
.rentList-check-icon{
    color: #333;
    font-size:18px;
    margin:10px 1px;
}
.rentList-house-price{
    text-align:right; 
}
.rentList-house-price h4{
    font-size: 24px;
}
.rentList-house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.rentList-sidebar{
    background-color: #ff9f001a;
    padding : 20px 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.rentList-sidebar h2{
    font-weight: 500;
    margin-bottom: 20%;
}

.rentList-sidebar h4{
    margin-top: 30px;
    font-weight: bold;
    font-size:22px;

}
.rentList-filter{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}
.rentList-filter p{
    flex:1;
    margin-top: 18px;
}
.rentList-filter h6{
    margin-top: 18px;
    flex:1;
}
.rentList-PriceSlide{
    position: relative;
  height: 5px;
  width: 185px;
  border-radius: 10px;
  background-color: #dddddd;
} 
.rentList-PriceSlideInner{
position: absolute;
  left: 30%;
  right: 30%;
  height: 2px;
  border-radius: 10px;
  background-color: #b0b0b0;
  display: flex; 
}
.rentList-PriceRangeWrap{
    position: relative;
} 

.rentList-PriceRangeMin,.rentList-PriceRangeMax {
    position: absolute;
  top: -7px;
  height: 7px;
  width: 100%;
	-webkit-appearance: none;
  background: none;

	&::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #ffaf47af;
    background-color: #ffaf47e1;
    -webkit-appearance: none;
    }
    pointer-events: none;

	&::-webkit-slider-thumb {
		pointer-events: auto;
  }
}
.rentList-PriceSlideInner{
    position: absolute;
  height: 4px;
  border-radius: 10px;
  background-color: #b0b0b0;
}
.rentList-PriceValue{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rentList-PriceValueMin{
    margin-top: 7%;
    color: #999;
}
.rentList-PriceValueMax{
    margin-top: 7%;
    color: #999;
}
.rentList-filter input{
    margin-right: 15px;
    cursor: pointer;
}

.rentList-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.rentList-check button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
}

.rentList-check button:focus {
    outline: none;
}

.rentList-check .active {
    color: #ff5361;
}

.rentList-check button.active .rentList-check-icon {
    color: #ff5361;
}
.rentList-search input{
    height: 40px;
    margin-bottom: 15%;
    background-color: #ff9d0000;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.icon-Circle {
    position: fixed;
    bottom: 40px; 
    right: 40px; 
    cursor: pointer;
    width:50px;
    height:50px;
  }
  .rentList-filter input[type="checkbox"]:checked {
    accent-color: #ED6D35;
}
.rentList-house {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.rentList-house:hover {
    background-color: rgba(0, 0, 0, 0.1); /* 연한 배경색으로 흐리게 표시 */
    border-radius: 10px;
    cursor: pointer; /* 마우스 커서 스타일 변경 */
}

.rentList-house:hover h3 {
    color: #333; /* 선택된 링크의 텍스트 색상 변경 */
}

.rentList-house:hover img {
    filter: brightness(70%); /* 이미지의 밝기 조절 */
}

.rentList-house {
    transition: transform 0.3s ease; /* 변화가 발생할 때 0.3초 동안 부드럽게 이동 */
}

.rentList-house:hover {
    transform: translateY(-5px); /* 이미지와 텍스트를 위로 10px 이동 */
}



@media only screen and (max-width:700px){
    .rentList-list-container{
        margin-top:150px;
    }
    .rentList-left-col, .rentList-right-col, .rentList-house-img, .rentList-house-info{
        flex-basis: 100%;
    }
    .rentList-left-col h1{
        font-size:22px;
    }
    .rentList-house-info h3{
        font-size: 18px;
    }
    .rentList-house-info i{
        font-size: 16px;
    }
    .rentList-sidebar{
        display: none;
    }
}
@media only screen and (max-width:1200px){
    .rentList-sidebar{
        display: none;
    }
}