.content-payment-table {
    width: 100%;
    height:80vh;
    margin: 0 auto;
    background-color: white; /* 테이블 배경색을 하얀색으로 설정 */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 효과 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

.data-table-diagram {
    overflow-x: auto; /* 테이블이 너무 넓을 경우 가로 스크롤 활성화 */
}

table {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse; /* 테이블 경계선이 겹치지 않도록 */
    
}

thead th {
    background-color: #f4f4f4; /* 테이블 헤더 배경색 */
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

tbody td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* 테이블 행 경계선 */
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* 짝수 행 배경색 */
}

.skeleton-cell {
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.icon-Circle {
    margin: 20px auto;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    width:25px;
    height:25px;
    right:33%;
    bottom:5%;
}
.icon-Delete {
    display: block;
    font-size: 1.5rem;
    color: red; /* 아이콘 색상 */
    cursor: pointer;
    margin: 0 auto;
}
.icon-Plus {
    display: block;
    font-size: 1.5rem;
    color: darkgreen; /* 아이콘 색상 */
    cursor: pointer;
    margin: 0 auto;
}
.column-0 {
    width: 20%;
}
.column-1 {
    width: 15%;
}
.column-2 {
    width: 15%;
}
.column-3 {
    width: 15%;
}
.column-4{
    width: 5%;
}
.column-5{
    width: 5%;
}
.modal-content {
    background: rgba(255, 255, 255, 0.2); /* 배경을 약간 투명하게 설정 */
}

