.body1{
    background-color: rgba(255, 255, 255, 0.3); /* 흰색, 투명도 50% */
}
.body2{
    background-color: rgba(255, 255, 255, 0.1); /* 흰색, 투명도 50% */
}

.title1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
.message1{
    font-size: 15px;
    font-weight: bold;
    /* -webkit-text-stroke: 1px rgb(245, 187, 149); */
    font-weight: bold;
}