.title1{
    color: white;
    font-size: 25px;
    font-weight: bold;
    /* -webkit-text-stroke: 1px rgb(255, 123, 0); */
}
.message1{
    font-size: 12px;
    font-weight: bold;
    color: white;
    /* -webkit-text-stroke: 1px rgb(245, 187, 149); */
    font-weight: bold;
}
.price2{
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}

.info1{
    font-weight: bold;
}