:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    /* --color-light: rgba(0, 0, 0, 0.4); */
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
.Allbody{

}

.DEOK_MP_CL_body {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* font-size: 0.88rem; */
    user-select: none;
    overflow-x: hidden;
    min-height: 100vh;
    color: var(--color-dark);
    background-color: var(--color-background);
    /* background-color: rgb(255, 255, 255); */
}

.DEOK_MP_CL_container p {
    color: var(--color-dark);
}

.DEOK_MP_CL_container img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.DEOK_MP_CL_profileBox {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    align-self: center;
    margin-top: 10%;
}

.DEOK_MP_CL_profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.DEOK_MP_CL_Nickname {
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
}

.DEOK_MP_CL_container h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

.DEOK_MP_CL_container h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.DEOK_MP_CL_container h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

.DEOK_MP_CL_container small {
    font-size: 0.76rem;
}

.DEOK_MP_CL_container p {
    color: var(--color-dark-variant);
}

.DEOK_MP_CL_container b {
    color: var(--color-dark);
}

.DEOK_MP_CL_text-muted {
    color: var(--color-info-dark);
}

.DEOK_MP_CL_primary {
    color: var(--color-primary);
}

.DEOK_MP_CL_danger {
    color: var(--color-danger);
}

.DEOK_MP_CL_warning {
    color: var(--color-warning);
}

.success {
    color: var(--color-success);
}

.DEOK_MP_CL_container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    gap: 1.8rem;
}

.DEOK_MP_CL_aside {
    height: 100%;
}

.DEOK_MP_CL_sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    width: 135px;
    height: 90vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

.DEOK_MP_CL_sidebar:hover {
    box-shadow: none;
}

.DEOK_MP_CL_sidebar p{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.DEOK_MP_CL_sidebar p span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.DEOK_MP_CL_sidebar p.active, .DEOM_MP_CL_ulTag.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

.DEOK_MP_CL_sidebar p.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

.DEOK_MP_CL_sidebar p.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.DEOK_MP_CL_sidebar p:hover {
    color: var(--color-primary);
}

.DEOK_MP_CL_sidebar p:hover span {
    margin-left: 0.6rem;
}

.DEOK_MP_CL_main {
    margin-top: 1.4rem;
    width: 836px;
    height: 90vh;
}

.DEOK_MP_CL_right-section {
    margin-top: 1.4rem;
}

.DEOK_MP_CL_right-section .nav {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.DEOK_MP_CL_right-section .nav button {
    display: none;
}

.DEOK_MP_CL_right-section .dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.DEOK_MP_CL_right-section .dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DEOK_MP_CL_right-section .dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
.DEOK_MP_CL_right-section .dark-mode a.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.DEOK_MP_CL_right-section .reminders {
    margin-top: 2rem;
}

.DEOK_MP_CL_right-section .reminders .notificationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin-bottom: 0.8rem;
}

.DEOK_MP_CL_right-section .reminders .notificationHeader span {
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.DEOK_MP_CL_right-section .reminders .notification {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.DEOK_MP_CL_right-section .reminders .notification:hover {
    box-shadow: none;
}

.DEOK_MP_CL_right-section .reminders .notification .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.DEOK_MP_CL_right-section .reminders .notification .icon {
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.DEOK_MP_CL_right-section .reminders .notification.deactive .icon {
    background-color: var(--color-danger);
}

.DEOK_MP_CL_right-section .reminders .add-reminder {
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.DEOK_MP_CL_right-section .reminders .add-reminder:hover {
    background-color: var(--color-primary);
    color: white;
}

.DEOK_MP_CL_right-section .reminders .add-reminder div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
body.dark-mode-variables a {
    color: var(--link-color);
}

body.dark-mode-variables a.active {
    color: var(--active-link-color);
}body.dark-mode-variables table.active {
    color: var(--active-link-color);
}

.dark-mode span.active {
    color: var(--active-link-color);
}
.dark-mode table.active {
    color: var(--active-link-color);
}
.dark-mode thead.active {
    color: var(--active-link-color);
}
.dark-mode tr.active {
    color: var(--active-link-color);
}

.dark-mode a.active {
    color: var(--active-link-color);
}

body.dark-mode-variables section {
    background-color: var(--color-background);
    color: var(---color-dark);
}

/* body.dark-mode-variables table,tr,thead,th,td {
    background-color: var(--color-background);
    color: var(---color-dark);
} */

body.dark-mode-variables section{
    border-color: var(--color-background);
}

body.dark-mode-variables section table th{
    border-color: var(--color-background) !important;
}

body.dark-mode-variables section a {
    color: var(--link-color);
}

body.dark-mode-variables section a:hover {
    color: var(--active-link-color);
}



/* @media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span{
        font-size: 2rem;
    }

} */