:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.home .secContainer .homecard{
 
  align-items: center;
  width: 70%;
  border-radius: 1rem;
  background: var(--whiteColor);
  justify-content: center;
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45); /* MainCard 그림자 */
  display: grid; /* 그리드 레이아웃 설정 */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 반응형 그리드 레이아웃 */
  gap: 1rem; /* 그리드 아이템 간격 */
  margin-top: 10%;
  
 
 
}


.regionPicker input {
  font-size: 15px;
  color: var(--textColor); /* 텍스트 색상 설정 */
  border-radius: 3rem;
  width: 64%;
  margin:  20px 54px; 
  padding: 1.0rem;
  border: none;
  background-color: #fdba3f50;
  text-decoration-thickness: 0.1em; /* 밑줄의 두께 조절 */
  text-underline-offset: 0.2em; /* 밑줄과 텍스트 사이의 간격 조절 */
  

}




.home input:focus {
  outline: none; /* 클릭되었을 때 외곽선 제거 */
  border: none; /* 클릭되었을 때 경계선 제거 */
}

.searchList li{
  padding: 8px 12px; /* 목록 항목의 내부 여백 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
  width: 400px;
}
.searchList li:hover {
  background-color: #f0f0f056; /* 마우스를 올렸을 때 배경색 변경 */
  width: 400px;
}


@media screen and (min-width: 480px) {
  .home .secContainer .homeCard {
    width: 70%;
   
  }
}

@media screen and (min-width: 720px) {
  .home .secContainer .homeCard {
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem; /* 레이아웃에 따른 패딩 조정 */
   
  }
}
.dateCheck {
  
  font-size: 1.5rem;
}

.calendarPicker {
  color: var(--textColor);
  font-size: 18px;
  border-radius: 5px;
  background-color: none;
  border: none;
  padding: 0.9rem;
  
}


.calendarPicker .calendarOpen{ 
  
  background-color: none;
  border: none;
 
  
}


.calendarPicker input{
  background: none;
  border: none;
  margin-bottom: 10px;
  
}

.calendarPicker span{
  margin-bottom: 10px;
  
}

.calendarPicker button{
  background: none;
  border: none;
  margin: 5px;
  font-weight: bold;
  padding: 0.5rem;
  
}

.calendarPicker button:focus{
  background-color: #f39b3c;
  cursor: pointer;
  padding: 0.5rem;

}
.calendarPicker button:hover{
  background-color: #fcc78f83;
  cursor: pointer;
  padding: 0.5rem;

}

.checkBtn {
  background-color: #fdb467;
  border: none;
  
}

.calendarPicker .date-range {
  background-color: #ff84002a; /* 선택된 날짜 범위의 배경색을 변경하세요 */
  border: none; /* 선택된 날짜 범위의 테두리를 변경하세요 */
  color: black; /* 선택된 날짜 범위의 텍스트 색상을 변경하세요 */
}


.tabBtn {
  background-color: #fa7f2c93;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3rem;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  
  
}
.tabSpan {
  /* font-weight: bold; */
  font-size: 1rem;
 
}

.countTab {
  display: inline-block;
  margin: 16px 0 16px 20px;
  font-weight: bold;
}

.regionPicker .countTab {
  margin-left: 98px;
}

.showAlert {
  width: 25rem ;
}















