.Text {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.BannerCarousel{
    margin-top: 80px;
}
.CarouselImg{
    height: 50vh;
    width: 88%;
    margin: auto;
    display: block;
    border-radius: 30px;
}