.BannerCarousel {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto; /* 상하 좌우 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 전체 높이 사용 */
}

.CarouselItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* 아이템이 캐러셀의 전체 너비를 차지하도록 설정 */
  height: 100%; /* 아이템이 캐러셀의 전체 높이를 차지하도록 설정 */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.CarouselItem.active {
  opacity: 1;
}

.CarouselContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center; /* 콘텐츠를 중앙에 정렬 */
}

.CarouselImg {
  width: 45%;
  height: auto;
  border-radius: 40px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.CarouselItem.active .CarouselImg {
  opacity: 1;
}

.Text {
  width: 44%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.CarouselItem.active .Text {
  opacity: 1;
}

.Text h1 {
  font-size: 70px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(253, 122, 0);
}

.Text p {
  font-size: 3.5em;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(253, 122, 0);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: auto;
  height: 30px;
}

.carousel-control-prev {
  left: -5%;
}

.carousel-control-next {
  right: -5%;
}
