.hero {
    background-image: url("./여행.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .margin {
      height: 40vh;
    }
    .hero {
      background-position: right;
      padding-top: 50%;
      height: 80vh;
    }
    .hero .row {
      width: 100%;
    }
  }