.bbsToss .w-100 {
    width: 100%;
}

.bbsToss .h-100 {
    height: 100%;
}

.bbsToss a {
    text-decoration: none;
    text-align: center;
}

.bbsToss .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    overflow: auto;
}

.bbsToss .max-w-540 {
    max-width: 540px;
}

.bbsToss .btn-wrapper {
    padding: 0 24px;
}

.bbsToss .btn {
    padding: 11px 22px;
    border: none;
    border-radius: 8px;
    background-color: #f2f4f6;
    color: #4e5968;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.bbsToss .btn.primary {
    background-color: #3282f6;
    color: #f9fcff;
}

.bbsToss .text-center {
    text-align: center;
}

.bbsToss .flex {
    display: flex;
}

.bbsToss .flex-column {
    display: flex;
    flex-direction: column;
}

.bbsToss .justify-center {
    justify-content: center;
}

.bbsToss .justify-between {
    justify-content: space-between;
}

.bbsToss .align-center {
    align-items: center;
}

.bbsToss .confirm-loading {
    margin-top: 72px;
    height: 400px;
    justify-content: space-between;
}

.bbsToss .confirm-success {
    display: none;
    margin-top: 72px;
}

.bbsToss .button-group {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.bbsToss .title {
    margin-top: 32px;
    margin-bottom: 0;
    color: #191f28;
    font-weight: bold;
    font-size: 24px;
}

.bbsToss .description {
    margin-top: 8px;
    color: #4e5968;
    font-size: 17px;
    font-weight: 500;
}

.bbsToss .response-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
}

.bbsToss .response-section .response-label {
    font-weight: 600;
    color: #333d48;
    font-size: 17px;
}

.bbsToss .response-section .response-text {
    font-weight: 500;
    color: #4e5968;
    font-size: 17px;
    padding-left: 16px;
    word-break: break-word;
    text-align: right;
}

.bbsToss .color-grey {
    color: #b0b8c1;
}