
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.restDetailBody{
    font-family: 'Roboto', sans-serif;    
}
.img{
    width: 100%;
    display: block;
}
.restDetailwrapper{
    min-height: 100vh;
    background-color: +#fff;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.restDetailcontainer{
    max-width: 1400px;
    margin: 0 auto;
}
.restDetailDiv{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.restDetailDivLeft{
    padding: 20px;
}
.restDetailDivRight{
    padding: 20px;
}
.restDetailHeader {
    display: inline-flex; /* 같은 줄에 배치 */
    align-items: center;  /* 수직 정렬 */
  }
  
.restDetailstarImage {
    margin-left: 8px; 
    width: 20px;  
    margin-bottom: 20px; 
  }

 .restDetailRating {
    margin-bottom: 23px;

 } 
  
.restDetailimgContainer img{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
.restDetailhoverContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.restDetailhoverContainer div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height:90px;
}
.restDetailactive {
    border-color: rgb(255, 145, 163)!important;
}
.restDetailhoverContainer div:hover{
    border-color: rgb(255, 145, 163);
}
.restDetailhoverContainer div img {
    width: 100px;
    height:70px;
    cursor: pointer;
}
.restDetailDivRight span{
    display: block;
}
.restDetailName{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.restDetailPrice{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.restDetailRating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.restDetailAddress{
    font-size: 11px;
}

.restDetailDescription {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.restDetailbtnGroups{
    margin-top: 100px;
}
.restDetailbtnGroups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.restDetailbtnGroups button .fas{
    margin-right: 8px;
}
.restDetailaddCartBtn{
    
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}
.restDetailaddCartBtn:hover{
    background-color: #fff;
    color: #FF9F00;
}
.restDetailbuyNowBtn{
    background-color: #000;
    border: 2px solid #000;
}
.restDetailbuyNowBtn:hover{
    background-color: #fff;
    color: #000;
}
.numberOfPeopleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* 버튼과 내용 사이 여백 */
}

.numberOfPeopleBtn {
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
}

.numberOfPeople {
    margin: 0 12px; /* 버튼과 숫자 사이 여백 */
    font-size: 20px;
}

@media screen and (max-width: 992px){
    .restDetailDiv{
        grid-template-columns: 100%;
    }
    .restDetailDivright{
        text-align: center;
    }
    .restDetailrating{
        justify-content: center;
    }
    .restDetaildescription{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 400px){
    .restDetailbtn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}